.f_post > h2{
    font-family: Sen;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -2px;
    text-align: left;
    margin-bottom: 32px;
}
.wh_new_bl{
    border: 1px solid var(--borders);
    width: 733px;
    margin-bottom: 128px;
    padding: 29px;
    transition-duration: 400ms;
}
.wh_new_bl h4 {
    margin-top: 32px;
    margin-bottom: 16px;
}
.wh_new_bl img {
    width: 669px;
    height: 352px;
}
.wh_new_bl h3 {
font-family: Sen;
font-size: 28px;
font-weight: 700;
line-height: 40px;
letter-spacing: -1px;
text-align: left;
}
.wh_new_bl p {
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
width: 561px;
margin-top: 16px;
}
.wh_new_bl:hover {
    background-color: var(--light);
    border-color: var(--transparent);
}
@media screen and (max-width:1320px) {
    .wh_new_bl{
        width: 600px;
    }
    .wh_new_bl img {
        width: 100%;
        object-fit: cover;
    }
   
}
@media screen and (max-width:1040px) {
    .wh_new_bl{
        width: 450px;
    }
    .wh_new_bl p {
        width: 100%;
    }
    
}
@media screen and (max-width: 840px) {
    .wh_new_bl{
        width: 100%;
        margin-bottom: 70px;
    }
}