<header>
    <app-header></app-header>
</header>
<header>
    <div class="header_bl text-center">
        <h1>Business</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <h5>Blog > Business</h5>
    </div>
</header>
<section>
    <div class="container">
        <div class="categoryPosts d-flex s-betw">
            <div>
                <app-categ-posts [categs]="categPosts"></app-categ-posts>
            </div>
            <div>
                <app-all-categs [categs]="categs"></app-all-categs>
                <h2 class="tags_title">All Tags</h2>
                <div class="tags d-flex f-wrap">
                    <a class="mid_pad " href="#">Business</a>
                    <a class="mid_pad " href="#">Experience</a>
                    <a class="sm_pad" href="#">Screen</a>
                    <a class="big_pad" href="#">Technology</a>
                    <a class="big_pad" href="#">Marketing</a>
                    <a class="mid_pad" href="#">Life</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <app-footer></app-footer>
</footer>