.posts_descrip h4{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: var(--tit-blue);
}
.posts_descrip h2{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin: 20px 0 16px;
    line-height: 48px;
    
}
.posts_descrip p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--descriptions);
}
.posts_descrip {
    margin-left: 32px;
    width: 643px;
}
.all_posts {
    margin-bottom: 64px;
    transition-duration: 400ms;
}
.all_posts:hover {
    background-color: var(--autor);
}

.posts_img img {
    width: 490px;
    height: 318px;
    object-fit: cover;
}

@media screen and (max-width: 1040px) {
    .posts_img img {
        width: 380px;
    }
}
@media screen and (max-width: 840px){
    .posts_img img {
        width: 240px;
    }
    
    
}
@media screen and (max-width: 640px){
    .all_posts {
        flex-direction: column;
    }
    .posts_descrip {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 440px){
    .posts_descrip {
        width: 90%;
        text-align: center;
        margin-left: 0;
    }
}