<header>
    <app-header></app-header>
</header>
<header>
    <div class="container_sm contact_header text-center">
        <h4>Contact us</h4>
        <h1>Let’s Start a Conversation</h1>
        <p>
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. 
             Ut enim ad minim.
        </p>
    </div>
</header>
<section>
    <div class="container_sm">
        <div class="workShed d-flex s-betw">
            <div class="wHours">
                <h6>Working hours</h6>
                <h5>Monday To Friday</h5>
                <h5>9:00 AM to 8:00 PM</h5>
                <p>Our Support Team is available 24/7</p>
            </div>
            <div class="wHours">
                <h6>Contact Us</h6>
                <h5>020 7993 2905</h5>
                <p>hello@finsweet.com</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container_sm form_bl">
        <form >
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Full Name">
            <Select>
                <option hidden selected>Query Related</option>
            </Select>
            <textarea class="masseges" rows="3" placeholder="Message"></textarea>
            <button class="read_more text-center">Send Message</button>
        </form>
    </div>

</section>
<footer>
    <app-footer></app-footer>
</footer>