<header *ngFor="let elem of post">
    <div class="container_sm">
        <div class="autor_bl">
            <div class="autor d-flex align-c">
                <img class="d-in-bl" src="assets/Profile picture.png" alt="autor">
                <div>
                    <h4><a>{{elem.autor}}</a></h4>
                    <p>Posted on {{elem.autordate}}</p>
                </div>
            </div>
            <div class="title">
                <h1>{{elem.title}}</h1>
                <div class="d-flex align-c">
                    <img src="assets/icon2.png" alt="icon">
                    <h4>{{elem.type}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <img class="image" src="{{elem.img}}" alt="img">
    </div>
</header>
<section>
    <div class="container_sm">
        <div class="description_bl">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. 
                At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis 
                dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. 
                At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis 
                dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. 
                At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis 
                dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Non blandit massa enim nec scelerisque</li>
                <li>Neque egestas congue quisque egestas</li>
            </ul>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. 
                At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis 
                dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. 
                At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis 
                dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas 
                congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
            </p>
        </div>
    </div>
</section>
